<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!--
        <h1>if condition</h1>
        {% if name %}
        <h2>{{name}}</h2>
        {% endif %}
        -->
        <!--
        <h1>if else</h1>
        {% if a > b %}
        <h2>a is max</h2>
        {% else %}
        <h2>b is max</h2>
        {% endif %}
        -->
        <!--
        <h1>if elif</h1>
        {% if a > b and b > c %}
        <h2>a is max</h2>
        {% elif b > c %}
        <h2>b is max</h2>
        {% else %}
        <h2>c is max</h2>
        {% endif %}
        -->
        <h1>NESTED LOOP</h1>
        {% if a > b %}
            {% if b > c %}
            <h2>a is max</h2>
                {% else %}
                <h2>c is max</h2>
                {% endif %}
        {% else %}
            {% if b > c %}
            <h2>b is max</h2>
            {% else %}
            <h2>c is max</h2>
            {% endif %}
        {% endif %}
        


    </center>
</body>
</html>